h1 {
    font-size: 15px;
    text-align: center;
    color: rgb(207, 10, 109);
}
body {
    background-color: rgb(26, 5, 10);
  }

  header{
    background-color: rgb(53, 7, 7)
    font-size: 30px;

    } 
    logo {

        text-align: center
    }

    p {
        font-size: 15px;
        text-align: center
        color: rgb(241, 16, 8);

    }
    #display_image {

        text-align: center
        }

        ul li  a {
            color:red ; 
            border:2px solid rgb(75, 9, 255);
            display:inline-block ;
            width: 100px;
                }